before_install:
- sudo apt-get update
- sudo apt-get install texlive-latex-extra texlive-fonts-recommended
script:
- mkdir _build
- pdflatex -output-directory _build ./DAPNET\ 2.0\ Software\ internals.tex
deploy:
  provider: releases
  api_key: "895abb5b5a142bbbfea4e271cb2c3698c720ffeb"
    file: "_build/DAPNET\ 2.0\ Software\ internals.pdf"
    skip_cleanup: true
